<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Geo-app</title>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>
<body>
    <div class="wrapper">
        <div class="map" id="map">
            <section class="form">
                <div class="form__header">
                    <div class="form__location"></div>
                    <button class="form__button_close"></button>
                </div>
                <div class="form__main">
                    <div class="feedback">
                        <ul class="feedback__list"></ul>
                    </div>
                </div>
                <div class="form__input">
                    <form action="#" class="form-feedback">
                        <p class="form-feedback__title">Ваш отзыв</p>
                        <input type="text" class="form-feedback__input" placeholder="Имя">
                        <input type="text" class="form-feedback__input" placeholder="Адрес">
                        <textarea name="" class="form-feedback__textarea" placeholder="Отзыв"></textarea>
                        <button class="form-feedback__button_add">Добавить</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
</body>
</html>