<li class="feedback__item">
    <div class="feedback">
        <div class="feedback__header">
            <div class="feedback__user">{{userName}}</div>
            <div class="feedback__location">{{location}}</div>
            <div class="feedback__date">{{date}}</div>  
        </div>
        <div class="feedback__text">{{commentText}}</div>
    </div>                                  
</li>